#rightMenu
    .rightMenu-group.rightMenu-small
        .rightMenu-item#menu-backward
            i.fa-solid.fa-arrow-left
        .rightMenu-item#menu-forward
            i.fa-solid.fa-arrow-right
        .rightMenu-item#menu-refresh
            i.fa-solid.fa-arrow-rotate-right
        .rightMenu-item#menu-home
            i.fa-solid.fa-house
    .rightMenu-group.rightMenu-line
        a.rightMenu-item#menu-radompage(href='https://music.icodeq.com/')
            i.fa-solid.fa-mp3-player
            span='YesPlayMusic'
        a.rightMenu-item#menu-radompage(href='https://dream-plan.cn/')
            i.fa-solid.fa-school
            span='追梦计划'
        a.rightMenu-item#menu-radompage(href='https://chat.icodeq.com/room/@icodeq')
            i.fa-solid.fa-comment-dots
            span='Chat Room'
        a.rightMenu-item#menu-radompage(href='https://pic.icodeq.com/')
            i.fa-solid.fa-image
            span='多功能图片处理'
        a.rightMenu-item#menu-radompage(href='http://busuanzi.icodeq.com/')
            i.fa-solid.fa-calculator
            span='自建不蒜子'
        a.rightMenu-item#menu-radompage(href='http://ncm.icodeq.com/')
            i.fa-solid.fa-music
            span='NCM API'
        a.rightMenu-item#menu-radompage(href='http://zkeq.xyz/')
            i.fa-solid.fa-moon
            span='追星计划'
        .rightMenu-item#menu-translate
            i.fa-solid.fa-earth-asia
            span='繁简切换'
#rightmenu-mask(onclick='RemoveRightMenu()')